.buton{
    height: 55px;
    width: 50%;
    color: blue;
    border-radius: 10px;
    margin: auto;
    text-align: center;
    border: 3px solid green;
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
}

.sclipici{
    text-align: center;
    justify-content: center;
    margin: auto;
    display: flex;
    width: 50%;
    height: 50px;
    padding: 20px;
}

.linie{
    color: blue;
}

.background{
    background:url(imagine.jpg);
}

.background .text{
    text-size-adjust: 15px;
}

.center{
    margin: auto;
    display: flex;
    border: 3px solid green;
    padding: 10px;
}